<h1>My First Stock Portfolio App</h1>

<%= form_tag root_path, :method => 'POST' do %>
    <div class='form-group'>
    <%= text_field_tag 'id', nil, placeholder: 'Enter Company Ticker Symbol', :style=> "width: 300px;", class: 'form-control' %>
    <%= submit_tag 'Lookup Stock Quote', class: 'btn btn-primary' %>
    </div>
<% end %>
<br>
<% stock = StockQuote::Stock.quote("goog") %>

<% if @stock %>
    <strong>Company Name:</strong> <%= @stock.company_name %><br>
    <strong>Current Ask:</strong> <%= @stock.iex_ask_price %><br>
    <strong>Price/Earning Ratio:</strong> <%= @stock.pe_ratio %><br>
    <strong>Market Cap:</strong> <%= number_to_human(@stock.market_cap, significant: true) %><br>
    <strong>Stock Open:</strong> <%= @stock.open %><br> 
    <strong>Day's Range:</strong> <%= @stock.low - @stock.high %><br>
    <strong>Year High:</strong> <%= @stock.week52_high %><br>
    <strong>Year Low</strong> <%= @stock.week52_low %><br>
<% elsif @nothing %>
    <%= @nothing %>
<% end %>

<% if @error %>
    <%= @error %>
<% end %>

<br><br>
<h3>Not sure what the ticker is for the company you're looking for?</h3>
<br>
<h5>Here is a great website to look up company ticker's/symbols:</h5>
<a href="https://www.nasdaq.com/symbol/?Load=true", target="blank"><img src="https://botw-pd.s3.amazonaws.com/styles/logo-thumbnail/s3/062016/untitled-1_79.png?itok=j9w8nuim">
</a>